<?xml version="1.0"?>
<!DOCTYPE routes PUBLIC
    "-//Liferay//DTD Friendly URL Routes 6.1.0//EN" "http://www.liferay.com/dtd/liferay-friendly-url-routes_6_1_0.dtd">
<routes>
    <route>
        <pattern>/view/courses/{course_code}</pattern>
        <implicit-parameter name="p_p_mode">view</implicit-parameter>
        <implicit-parameter name="p_p_lifecycle">0</implicit-parameter>
    </route>

    <route>
        <pattern>/view/find</pattern>
        <implicit-parameter name="p_p_mode">view</implicit-parameter>
        <implicit-parameter name="p_p_lifecycle">1</implicit-parameter>
        <implicit-parameter name="javax.portlet.action">find</implicit-parameter>
    </route>

    <route>
        <pattern>/view</pattern>
        <implicit-parameter name="p_p_mode">view</implicit-parameter>
        <implicit-parameter name="p_p_lifecycle">0</implicit-parameter>
    </route>

    <route>
        <pattern>/edit/update</pattern>
        <implicit-parameter name="p_p_mode">edit</implicit-parameter>
        <implicit-parameter name="p_p_lifecycle">1</implicit-parameter>
        <implicit-parameter name="javax.portlet.action">update</implicit-parameter>
    </route>
    
    <route>
        <pattern>/edit</pattern>
        <implicit-parameter name="p_p_mode">edit</implicit-parameter>
        <implicit-parameter name="p_p_lifecycle">0</implicit-parameter>
    </route>

    <route>
        <pattern>/help</pattern>
        <implicit-parameter name="p_p_mode">help</implicit-parameter>
        <implicit-parameter name="p_p_lifecycle">0</implicit-parameter>
    </route>
</routes>